.header {
    width: 100%;
    margin: 45px auto 0 auto;
    max-width: 1280px;
    min-width: 320px;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 768px) {
    .header {
        margin: 46px auto 0 auto;
        width: calc(100% - (24px * 2));
    }
}

@media screen and (max-width: 370px) {
    .header {
        margin: 30px auto 0 auto;
        width: calc(100% - (16px * 2));
    }
}
