.elements__like-button{
    margin: 30px 20px 30px auto;
    padding: 0;
    width: 22px;
    height: 19px;
    background-image: url("../../../images/elements__like-button.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: opacity 0.2s linear;
    cursor: pointer;
}

.elements__like-button:hover {
    opacity: .5;
}